<div style="width: 98vw;">
    <app-home-component></app-home-component>
</div>

<h3 style="font-weight: 200; display: flex; justify-content: center; align-items: center;margin-top: 20px; color: white;">Lista de Gastos</h3>
<hr style="color: white;">

<div class="col-md-3">
    <button class="btn btn-warning fa fa-plus fa-sm" style="margin-left: 94px;height: 21px;width: 37px;" data-toggle="modal" data-target="#modalEdicao" (click)="AlteraStatusisSalvar()"></button>
</div>
<div class="container">

   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="Estabelecimento">
        <th mat-header-cell *matHeaderCellDef> Estabelecimento </th>
        <td mat-cell *matCellDef="let item"> {{item.estabelecimento}} </td>
      </ng-container>

      <ng-container matColumnDef="Valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let item"> {{item.valor}} </td>
      </ng-container>

      <ng-container matColumnDef="Data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let item"> {{formataData(item.data)}} </td>
      </ng-container>

      <!-- Header e conteúdo -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns">
        <td *matCellDef="let item"> 
          <button type="button" class="btn btn-primary" style="width: 17%; padding: 0px;" data-toggle="modal" data-target="#modalEdicao" (click)="carregaValor(item)"><mat-icon style="font-size: 17px; display: flex; align-items: center; justify-content: center;">edit</mat-icon></button>
          <button type="button" class="btn btn-danger" style="width: 17%; padding: 0px;" data-toggle="modal" data-target="#modalExclusão" (click)="carregaValor(item)"><mat-icon style="font-size: 17px; display: flex; align-items: center; justify-content: center;">delete</mat-icon></button>
        </td>
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginação -->
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


    <div class="modal" tabindex="-1" role="dialog" id="modalEdicao">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" *ngIf="isEdicao">Editar Gasto</h5>
              <h5 class="modal-title" *ngIf="isSalvar">Salvar Gasto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label for="input-valor">Valor:</label>
                    <input type="text" class="form-control" name="input-valor" [(ngModel)]="gastosEditado.valor">
                </div>
                <div class="col-md-12">
                    <label for="input-estabelecimento">Estabelecimento:</label>
                    <input type="text" class="form-control" name="input-estabelecimento" [(ngModel)]="gastosEditado.estabelecimento">
                </div>
                <div class="col-md-12">
                    <label for="input-data">Data:</label>
                    <input type="datetime-local" class="form-control" name="input-data" [(ngModel)]="gastosEditado.data">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editarGasto()" *ngIf="isEdicao">Salvar</button>
              <button type="button" class="btn btn-primary" (click)="salvarGasto()" *ngIf="isSalvar">Salvar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalExclusão">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" *ngIf="isEdicao">Excluir Gasto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    Tem certeza que deseja excluir esse gasto? 
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletarGasto()" *ngIf="isEdicao">Excluir</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
</div>
