<div style="width: 98vw;">
    <app-home-component></app-home-component>
</div>

<h3 style="font-weight: 200; display: flex; justify-content: center; align-items: center;margin-top: 20px;">Lista de Gastos</h3>
<hr>

<div class="col-md-3">
    <button class="btn btn-warning fa fa-plus fa-sm" style="margin-left: 94px;height: 21px;width: 37px;" data-toggle="modal" data-target="#modalEdicao" (click)="AlteraStatusisSalvar()"></button>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
            <td class="table-light">Estabelecimento</td> 
            <td class="table-light">Valor</td> 
            <td class="table-light">Data</td> 
            <td class="table-light">Ações</td> 
    
        </thead>
        <tbody>
            <tr *ngFor="let gasto of gastos">
                <td class="table-light">{{gasto.estabelecimento}}</td> 
                <td class="table-light">{{gasto.valor}}</td> 
                <td class="table-light">{{formataData(gasto.data)}}</td>
                <td class="table-light">
                    <button type="button" class="btn btn-primary" style="width: 17%; padding: 0px;" data-toggle="modal" data-target="#modalEdicao" (click)="carregaValor(gasto)"><mat-icon style="font-size: 17px; display: flex; align-items: center; justify-content: center;">edit</mat-icon></button>
                    <button type="button" class="btn btn-danger" style="width: 17%; padding: 0px;" data-toggle="modal" data-target="#modalExclusão" (click)="carregaValor(gasto)"><mat-icon style="font-size: 17px; display: flex; align-items: center; justify-content: center;">delete</mat-icon></button>
                </td>
                
            </tr>
        </tbody>
    </table>


    <div class="modal" tabindex="-1" role="dialog" id="modalEdicao">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" *ngIf="isEdicao">Editar Gasto</h5>
              <h5 class="modal-title" *ngIf="isSalvar">Salvar Gasto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <label for="input-valor">Valor:</label>
                    <input type="text" class="form-control" name="input-valor" [(ngModel)]="gastosEditado.valor">
                </div>
                <div class="col-md-12">
                    <label for="input-estabelecimento">Estabelecimento:</label>
                    <input type="text" class="form-control" name="input-estabelecimento" [(ngModel)]="gastosEditado.estabelecimento">
                </div>
                <div class="col-md-12">
                    <label for="input-data">Data:</label>
                    <input type="datetime-local" class="form-control" name="input-data" [(ngModel)]="gastosEditado.data">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editarGasto()" *ngIf="isEdicao">Salvar</button>
              <button type="button" class="btn btn-primary" (click)="salvarGasto()" *ngIf="isSalvar">Salvar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalExclusão">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" *ngIf="isEdicao">Excluir Gasto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    Tem certeza que deseja excluir esse gasto? 
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletarGasto()" *ngIf="isEdicao">Excluir</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
</div>
