.container{
    background-color: var(--color-principal);
    margin: 0 auto;
    margin-top: 30px;
    width: 98vw;
    height: 100%;
    padding: 30px;
    display: block;
}

.form-control{
    margin-bottom: 10px;
}