<div class="container">
    <div class="col-md-12 pt-3 pb-3 d-flex justify-content-end align-items-flexend">
      <button style="background-color: var(--color-principal); border: none" (click)="login()">
        <span class="material-symbols-outlined">
          person
        </span>
      </button>
    </div>
    <p>O sistema gestão de Gastos tem como prioridade ajudar no gerenciamento de gastos para evitar despesas 
      desnecessarias e ajudar na educação financeira para aqueles que desejam ter mais organização com suas contas do dia a dia mas também para as contas de final e de inicio de mês.
      O nosso fundador e CEO se chama Jack Bower e tudo começou com ele querendo ajudar os seus pais e a si proprio a terem uma melhor organização dos seus gastos pessoais, o que passou de um simples 
      projeto pessoal passou a ser um sistema que tem ajudado milhares de pessoas a conseguirem fazer o seu dinheiro render. Mas por que isso é tão importante? Pois para muitos isso significou a realização
      de sonhos, como uma faculdade para o filho, viagens para os pais, uma casa para poder chamar de sua e muito mais. Com o nosso sistema é possivel tudo isso, pois ele não só armazena os seus gastos para te ajudar
      a saber para onde vai o seu dinheiro, mas ele tambem gera relatorios que podem ser exportados, graficos de gastos, ganhos e perdas, além de notificações de compras novas assim que a compra é feita. Crie sua conta para 
      poder começar a registrar seus gastos e veja o seu dinheiro render mais.</p>
  </div>
